<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_path%>">Rotten Mangoes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">All Movies<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
   
        
        <%= form_tag(search_movies_path, method: "get", class: "navbar-form navbar-left" ) do %>
        <div class="form-group">
          <%= label_tag(:q, "Title:") %>
          <%= text_field_tag(:q) %>
           <%= label_tag(:p, "Director:") %>
          <%= text_field_tag(:p) %>
          <%= select_tag :o, options_from_collection_for_select(@movies, "runtime_in_minutes", "runtime_in_minutes") %>
          


          <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
          
        
        
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<%= link_to "Submit a movie!", new_movie_path, class: "btn btn-success"%>  <!--link takes 2 things, link name/image, and then where link goes-->
<%#comment for erb %>
<!--new_movie_path just add _path to any page and it links to it-->

<!--this is an html comment -->
<hr>
<div class="container">
<%@movies.each do |movie| %>
	  <!-- link to and _path all helper methods generated to make stuff EZ-->
	<h2><%= link_to movie.title, movie_path(movie) %></h2>
	<h3><%= movie.release_date %></h3>
      <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description %></p>
      <%= image_tag movie.image_url(:thumb) %> 
      <hr>
    <% end %>
</div>